footer
    .footer__contenedor.container
        .footer__contenedor--informacion
            a(href="#inicio" class="logotipo")
                img(src="public/img/imagotipo-negativo.png", alt="Human Creative")
            ul.informacion__lista
                li.informacion__lista--item: a(href="#inicio") Inicio
                li.informacion__lista--item: a(href="#about") Nosotros
                li.informacion__lista--item: a(href="#services") Servicios
                //li.informacion__lista--item: a(href="#contact") Contacto
        .footer__contenedor--informacion
            p.informacion__copy.description Copyright © Todos los Derechos Reservados
           
        
