header
    .header__contenedor.container
        h1.header__contenedor--logotipo
            a(href="index.html") Human Creative
        .header__contenedor--icono#icon
            .icon-element
            .icon-element
            .icon-element
        nav#nav
            ul.nav__lista
                li.nav__lista--item: a(href="#inicio" class="item__link") Inicio
                li.nav__lista--item: a(href="#about" class="item__link") Nosotros
                li.nav__lista--item: a(href="#services" class="item__link") Servicios
                //li.nav__lista--item: a(href="#contact" class="item__link") Contacto