//----------------
//---- B A N N E R 
//----------------
.banner
{
  --gradient : .2;
  background-color : var(--rgba);
  @include bg-cont;
  min-height : 100vh;
  @include from ($m3){
    height: 100vh;
  }
  @include from ($m4){
    --max: 65%;
    --min: 35%;
    background-image: linear-gradient(
      90deg,
      $bg-light var(--max),
      $bg-first var(--min)
    )
  }
  @include from ($m5){
    --max: 60%;
    --min: 40%
  }

  &__container{
    --columns: 1;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap:  var(--gap);
    padding-top: 130px;
    padding-bottom: 3rem;
    @include from ($m2){
      --gap: 30px
    }
    @include from ($m3){
      --columns: 12;
      height: 100%;
      align-items: center;
      padding-top: 0;
    }
    @include from ($m4){
      --gap: 40px
    }
    .banner__column{
      &:nth-child(1){
        @include from ($m3){
          grid-column: 1 / 5;
        }
      }
      &:nth-child(2){
        @include bg-cont;
        height: 280px;
        background-image: url(../../public/img/banner/bg-banner.jpg);
        @include from ($m1){
          height: 350px
        }
        @include from ($m2){
          height: 400px
        }
        @include from ($m3){
          grid-column: 5 / 13;
          width: 100%;
          position: relative;
          animation: columnWidth 1s ease-in-out;
          @keyframes columnWidth{
            from{
              width: 0;
              left: 50%;
            }
            to{
              width: 100%;
              left: 0;
            }
          }
        }
        @include from ($m4){
          height: 60%
        }
      }
      .banner__header{
        color: var(--text-dark);
        @include from ($m1){
          max-width: 450px;
        }
        @include from ($m2){
          max-width: 550px;
        }
        @include from ($m3){
          max-width: 100%;
        }
        h2{
          font-size: 2rem;
          line-height: 2.4rem;
          font-weight: 700;
          @include from ($m1){
            font-size: 2.4rem;
            line-height:  2.8rem
          }
          @include from ($m2){
            font-size: 2.7rem;
            line-height: 3.1rem
          }
          @include from ($m3){
            font-size: 2rem;
            line-height: 2.4rem
          }
          @include from ($m4){
            font-size: 2.6rem;
            line-height: 3.2rem
          }
          @include from ($m5){
            font-size: 2.8rem;
            line-height: 3.4rem
          }
        }
        &--button{
          display: flex;
          a{
              @include p-btn(var(--text-light),var(--first-color))
            }
        }
      }
    }
  }
}

//----------------
//---- A B O U T 
//----------------
.about{
  padding-top: var(--paddingY);
  padding-bottom: var(--paddingY);
  background-color: var(--first-color);
  @include from ($m3){
    --paddingY: 4rem;
  }
  @include from ($m4){
    background-color: transparent
  }
  &__container{
    --columns: 1;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap);
    @include from ($m3){
      --columns: 12;
      --gap: 30px;
      height: calc(100vh - 150px);
    }
    @include from ($m4){
      --gap: 40px
    }
    .about__column{
      &:nth-child(1){
        @include bg-cont;
        padding: 3rem;
        order: 1;
        height: 250px;
        background-image: url(../../public/img/about/bg-about.jpg);
        @include from ($m3){
          margin-top: -150px;
          order: 0;
          grid-column: 1 / 7;
          height: calc(100% + 150px);
          background-image: url(../../public/img/about/bg-about-desktop.jpg);
        }
      }
      &:nth-child(2){
        @include from ($m3){
          grid-column: 7 / 13;
          display: flex;
          align-items: center
        }
        .about__header{
          color: var(--text-light);
          @include from ($m1){
            max-width: 450px;
          }
          @include from ($m4){
            color: var(--text-dark);
            max-width: 550px;
          }
          &--button{
            display: flex;
            a{
              @include p-btn(var(--text-light), var(--first-color))
            }
          }
        }
      }
    }
  }
}

//----------------
//---- C A L L
//----------------
.call{
  @include bg-cont;
  padding-top: var(--paddingY);
  padding-bottom: var(--paddingY);
  position: relative;
  background-image: url(../../public/img/call/bg-call.jpg);
  @include from ($m2){
    --paddingY: 6rem
  }
  @include from ($m4){
    background-image: url(../../public/img/call/bg-call-desktop.jpg);
  }
  @include from ($m4){
    --paddingY: 8rem
  }
  &:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($bg-dark, .3);
  }
  &__container{
    position: relative;
    z-index: 1;
    .call__header{
      color: var(--text-light);
      text-align: center
    }
  }
}

//----------------
//---- S E R V I C E S 
//----------------
.services{
  padding-top: var(--paddingY);
  padding-bottom: var(--paddingY);
  @include from ($m3){
    --paddingY: 5rem
  }
  &__container{
    --columns: 1;
    --gap: 40px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap:  var(--gap);
    @include from ($m1){
      --gap: 30px
    }
    @include from ($m2){
      --columns: 2
    }
    @include from ($m3){
      --columns: 4;
      --gap: 50px;
    }
  }
  .services__item{
      --margin: auto;
      text-align: center;
      color: var(--text-dark);
      max-width: 300px;
      margin-left: var(--margin);
      margin-right: var(--margin);
      @include from ($m3){
        padding: 1rem;
        &:hover{
          box-shadow: 0 0 10px 1px rgba($bg-dark, .1)
        }
      }
      img{
        width: 100px;
        margin-left: var(--margin);
        margin-right: var(--margin);
        @include from ($m3){
          width: 90px
        }
      }
      h3{
        margin-top: 1.2rem;
        font-size: 1.3rem;
        @include from ($m3){
          font-size: 1.1rem
        }
      }
  }
}