extends ../config/template
append config
    - NombPagina = "Agencia Digital"
prepend styles
block contenido

    //--- B A N N E R
    //---------------
    .banner
        .banner__container.container
            .banner__column
                .banner__header
                    h2 Implementamos estrategias de comunicación
                    p.description Brindamos servicios comunicacionales 360º, diseñamos e implementamos estrategias de comunicación e imagen digital, para lograr los objetivos de nuestros clientes.
                    .banner__header--button
                        a(href="#about").hover-btn Conócenos
            .banner__column
    
    main
        //--- A B O U T 
        //---------------
        .about#about
            .about__container.container
                .about__column.wow.fadeInUp
                .about__column 
                    .about__header
                        h2.secondary-title ¿Qué son los servicios comunicacionales 360?
                        p.description Human Creative cuenta con Cuatro plataformas de negocio que convergen y potencian la una a la otra. Desarrollo Web, Redes Sociales, Servicios Audiovisuales y Relaciones Públicas. Estos procesos aseguran una consultoría exitosa para formar una arquitectura corporativa de acuerdo a su negocio, servicio o empresa.
                        .about__header--button
                            a(href="#services").hover-btn Nuestros Servicios

        //--- C A L L 
        //---------------
        .call
            .call__container.container
                .call__header
                    h2.secondary-title  “No tenemos una oferta estándar. Cada proyecto es único, puede estar seguro de que cada una de nuestras ideas también.”

        //--- S E R V I C E S 
        //---------------
        .services#services
            .services__container.container
                +services-item(
                    'public/img/services/service-1.svg',
                    'Diseño Web',
                    'Diseño Web',
                    'Crear una página web implica conocimiento de mercado, tendencias de los usuarios y saber que tecnologías podemos implementar en nuestra web.'
                )
                +services-item(
                    'public/img/services/service-2.svg',
                    'Redes Sociales',
                    'Redes Sociales',
                    'Hoy en día las redes sociales han adquirido una importancia innegable, pues estamos en un mundo totalmente digital, es así que muchas marcas o empresas han atribuido su éxito a estas.'
                )
                +services-item(
                    'public/img/services/service-3.svg',
                    'Servicio Audiovisuales',
                    'Servicio Audiovisuales',
                    'Nuestro equipo especialista en vídeo digital y realización audiovisual cuenta con la capacidad de generar contenidos de acuerdo a la línea gráfica que construiremos para usted.'
                )
                +services-item(
                    'public/img/services/service-4.svg',
                    'Relaciones Públicas',
                    'Relaciones Públicas',
                    'La unidad de relaciones públicas desarrollará mecanismos de comunicación directa tanto con el público interno como el externo, fortaleciendo la imagen de la marca.'
                )

prepend script-final
