block config
    include config
    include ../components/services
doctype
html(lang="es")
    head
        title= `${NombSitio} | ${NombPagina} `
        //--- META
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="robotos" content="index,follow")
        meta(property="fb:app_id" content="")
        meta(name="description" content="Somos una agencia que brinda servicios comunicacionales 360º")
        link(rel="icon" href="public/img/icon.png" sizes="90x90")
        //--- ESTILOS EXTERNOS
        //-- WOW CSS
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")
        //-- FONT AWESOME CSS
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css")
        //--- TIPOGRFIA
        link(href='https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900', rel='stylesheet')
        //--- ESTILOS INTERNOS
        link(rel="stylesheet" href="public/css/styles.css?update4")
        block styles
    body
        include ../includes/header
        block contenido
        //include ../includes/clientes
        include ../includes/footer
        block script-inicio
        //-- SCRIPT JQUERY
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        //--WOW
        script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
        script.
            new WOW().init();
        //-- MAIN
        script(src="public/js/main-min.js")
        block script-final

