header{
    width            : 100%;
    position         : fixed;
    z-index          : 9;
    box-shadow:  0 0 10px 1px rgba($bg-dark, .2);
    background-color: var(--first-color);
    @include from ($m3){
        box-shadow       : unset;
        background-color : transparent;
        position         : absolute;
        padding-top      : 1rem;
        padding-bottom   : 1rem
    }

    .header__contenedor{
        padding-top     : .5rem;
        padding-bottom  : .5rem;
        display         : flex;
        justify-content : space-between;
        align-items     : center;
        @include from ($m3){
            padding-top    : 0;
            padding-bottom : 0;
            justify-content: flex-start
        }

        &--logotipo
        {
            position : relative;
            z-index  : 2;
            a
            {
                background-image    : url(../../public/img/imagotipo-negativo.png);
                background-repeat   : no-repeat;
                background-position : left;
                background-size     : contain;
                width               : 100px;
                height              : 70px;
                text-indent         : -1000em;
                display             : block;
                @include from ($m2)
                {
                    width  : 130px;
                    height : 80px;
                    @include from ($m3)
                    {
                        background-image    : url(../../public/img/imagotipo.png);
                        width  : 170px;
                        height: 100px
                    }
                }
            }
        }

        &--icono
        {
            width    : 30px;
            cursor   : pointer;
            display  : block;
            position : relative;
            z-index  : 2;
            .icon-element
            {
                width            : 100%;
                height           : 2px;
                transition       : transform .5s, opacity .5s;
                background-color : $bg-light;

                &:nth-child(2)
                {
                    margin-top : 5px
                }

                &:nth-child(3)
                {
                    margin-top : 5px
                }
            }

            @include from ($m3)
            {
                display : none
            }
        }

        .iconClick{
            .icon-element{
                &:nth-child(1){
                    transform : rotate(45deg) translate(5px, 5px)
                }
                &:nth-child(2){
                    transform : translateX(20px);
                    opacity   : 0;
                }
                &:nth-child(3){
                    transform : rotate(-45deg) translate(5px, -5px)
                }
            }
        }

        nav
        {
            position         : fixed;
            width            : 100%;
            background-color : $first-color;
            top              : 0;
            left             : 0;
            pointer-events   : none;
            opacity          : 0;
            transition       : opacity .5s;
            height           : 100vh;
            display          : flex;
            align-items      : center;
            @include from ($m2)
            {
                top    : 86px;
                height : calc(100% - 86px)
            }
            @include from ($m3)
            {
                pointer-events   : auto;
                opacity          : 1;
                position         : static;
                height           : unset;
                width            : unset;
                background-color: transparent
            }

            .nav__lista
            {
                width            : 100%;
                @include from ($m3)
                {
                    display     : flex;
                    align-items : center
                }

                &--item
                {
                    text-align: center;
                    a
                    {
                        color     : var(--text-light);
                        font-size : 1.1rem;
                        padding   : 1rem .8rem;
                        display   : inline-block;
                        @include from ($m3)
                        {
                            padding     : 0 2rem;
                            font-weight : 500;
                            font-size   : .9rem;
                            color: var(--text-dark);
                        }
                    }
                }
            }
        }

        .navTranslate{
            pointer-events:  auto;
            opacity: 1;
        }
    }
}