//---------------------
//---------------------
//--- SECONDARY TITLE

$secondary-font-title: (
    font-title--small: 2rem,
    font-title--medium: 2.4rem,
    font-title--standart: 2.6rem,
    font-title--big: 2.3rem,
    font-title--bigx: 2.6rem);

.secondary-title{
    font-size: map-get($secondary-font-title, font-title--small);
    line-height: 2.4rem;
    @include from ($m1){
        font-size: map-get($secondary-font-title, font-title--medium);
        line-height: 2.8rem
    }
    @include from ($m3){
        font-size: map-get($secondary-font-title, font-title--standart);
        line-height: 3.1rem
    }
    @include from ($m4){
        font-size: map-get($secondary-font-title, font-title--big);
        line-height: 3rem
    }
    @include from ($m5){
        font-size: map-get($secondary-font-title, font-title--bigx );
        line-height: 3.4rem
    }
}

//---------------------
//---------------------
//--- DESCRIPTIVE TEXT

$font-description:(
    font-description--small: .9rem,
    font-description--medium: 1rem);

.description{
    line-height : 1.5rem;
    font-weight : 300;
    margin-top  : .8rem;
    font-size   : map-get($font-description, font-description--small);
    @media screen and ($m3){
        font-size   : map-get($font-description, font-description--medium);
        line-height : 1.6rem
    }
}

//---------------------
//---------------------
//--- BUTTON HOVER

.hover-btn{
    display     : flex !important;
    align-items : center;
    &:before{
        content          : "";
        width            : 0;
        height           : 1px;
        display          : block;
        transition       : width .5s, margin-right .5s;
        background-color : $bg-light;
    }
    @include from ($m3){
        &:hover{
            &:before{
                margin-right : 1rem;
                width        : 40px
            }
        }
    }
}

//---------------------
//---------------------
//--- CONTAINER

.container
{
    width        : 90%;
    max-width    : 1250px;
    margin-left  : auto;
    margin-right : auto;
}